VITE_SUPABASE_URL=https://hbhemnnwsijhbzlapsek.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhiaGVtbm53c2lqaGJ6bGFwc2VrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMjc2MTAsImV4cCI6MjA5MTcwMzYxMH0.E8XpQQBu_EEU-SjRApuzgYUEFpjNuAEQOK7eamFIFgY
VITE_BACKEND_URL=http://localhost:3000